<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PictureSharingApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80F2DAFB1DA3AF3D003C0C92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80F2DB0F1DA3AF3E003C0C92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80F2DB1A1DA3AF3E003C0C92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
